* {
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
  margin:0;
  padding:0;
  color: #1c1c1c;
  background-color: #e4e4e4;
  text-decoration-skip: ink;
  }

body {
  font-size:1em;
  font-family: sans-serif;
  6 /* line-height:125%; */
  color:#1d1313;
  max-width:36em;
  margin:auto;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color:#268bd2;
}

ul li{
  display: inline-block;
  margin: 0.2em 0;
}

h1 {
  font-size:1.1em;
  font-weight:600;
  margin-top: 1em;
}

h2 {
  font-size:1em;
  font-weight:900;
}

time {
  font-size:1.2em;
  font-weight:500;
}
